<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>zecFaucet</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="narrow-jumbotron.css" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114304012-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-114304012-1');
    </script>
  </head>

  <body>

    <div class="container">
      <header class="header clearfix">
        <h3 class="text-muted">zecFaucet</h3>
      </header>

      <main role="main">
        <div class="alert alert-warning" role="alert">
          <strong>Notice:</strong> We got a little more popular than expected. Payouts may be significantly delayed.
        </div>
        <div class="jumbotron">

          <h1 class="display-5">Free Zcash (ZEC) Faucet</h1>
          <p class="lead">No gimmicks or tricks. We want you to try Zcash out,
            so just put in a Zcash address, and we will send you some!
            Currently, this faucet pays out every 5 minutes. </p>
          <form action="/api/add" method="POST">
            <div class="form-group">
              <input type="text" class="form-control" name="inputAddress" id="inputAddress"
               placeholder="Your ZEC Address (e.g. t1hASvMj8e6TXWryuB3L5TKXJB7XfNioZP3)">
              <small id="emailHelp" class="form-text text-muted">Don't have one?
                <a href="https://www.zcashcommunity.com/wallets/">Here is a list</a> of good wallets to use. </small>
            </div>
            <button type="submit" class="btn btn-lg btn-success">Give Me Free Zcash!</button>
          </form>
        </div>

        <div class="row marketing">
          <div class="col-lg-12">
            <h4>Recent Submissions</h4>
            <table class="table table-hover">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Time</th>
                    <th scope="col">Address</th>
                    <th scope="col">Transaction ID</th>
                  </tr>
                </thead>
                <tbody>
                  <% drips.forEach(function(drip) { %>
                    <tr>
                      <td><%= drip.timestamp %></td>
                      <td><a href="https://explorer.zcha.in/accounts/<%= drip.payoutAddress %>"><%= drip.payoutAddress %></a></td>
                      <% if (drip.transactionId) { %>
                      <td><a href="https://zcash.blockexplorer.com/tx/<%= drip.transactionId %>">View Transaction</a></td>
                      <% } else { %>
                      <td>Pending...</td>
                      <% } %>
                    </tr>
                  <%  }); %>
                </tbody>
              </table>
          </div>
        </div>

      </main>

      <footer class="footer">
        <p>Powered by <a href="https://github.com/super3/zecfaucet">zecFaucet</a>.</p>
      </footer>

    </div> <!-- /container -->
  </body>
</html>
