<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>zFaucet - Free Zcash (ZEC) Faucet</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="narrow-jumbotron.css" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114304012-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-114304012-1');
    </script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
  </head>

  <body>

    <div class="container">
      <header class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link active" href="#">Home
                <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/faucet">Faucet</a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">zFaucet</h3>
      </header>

      <main role="main">

        <div class="alert alert-danger address-not-entered hidden" role="alert">
          <strong>Oops!</strong> You need to supply a valid zcash t-address.
          <a href="https://www.zcashcommunity.com/wallets/">Here is a list</a>
           of good wallets to use.
        </div>

        <div class="alert alert-danger captcha-not-completed hidden" role="alert">
          <strong>Oops!</strong> You didn't complete the CAPTCHA. If it doesn't
           load, please disable Adblock.
        </div>

        <div class="jumbotron text-center">

          <h1 class="display-5">Mine Zcash With Your Browser.</h1>
          <p class="lead">No complicated software to download. Just enter in a
             Zcash address, click 'Start Mining', and your excess processing
              power will be used to mine.</p>
          <table class="table table-bordered">
           <thead>
             <tr>
               <th scope="col">Hashes/sec</th>
               <th scope="col">Current Hashes</th>
               <th scope="col">Accepted Hashes</th>
             </tr>
           </thead>
           <tbody>
             <tr>
               <td class="hashsec">0</td>
               <td class="totalhash">0</td>
               <td class="accepthash">0</td>
             </tr>
           </tbody>
          </table>
          <form action="/api/withdraw" method="POST" style="padding-top:5px;">
            <div class="form-group">
              <input type="text" class="form-control" name="inputAddress" id="inputAddress"
               placeholder="Your ZEC Address (e.g. t1hASvMj8e6TXWryuB3L5TKXJB7XfNioZP3)"
               style="margin-bottom: 10px;">

                <div class="hidden" id="progress">
                  <h4>Progress to Withdrawal:</h4>
                  <div class="progress" style="margin-bottom: 20px; height: 31px; background-color: #cccccc;">

                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="1000">
                      <span class="progress-percent">0</span>%
                    </div>
                  </div>
                </div>

               <button type="submit" id="start" class="btn btn-lg btn-success">Start Mining</button>
               <button type="submit" id="stop" class="btn btn-lg btn-danger hidden">Stop Mining</button>
               <button type="submit" id="submit" class="btn btn-lg btn-primary" disabled>Withdraw Zcash</button>
            </div>
          </form>
        </div>

        <div class="row marketing">
          <div class="col-lg-12">
            <h4>Recent Transactions</h4>
            <table class="table table-hover">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Time</th>
                    <th scope="col">Address</th>
                    <th scope="col">Transaction ID</th>
                  </tr>
                </thead>
                <tbody>
                  <% drips.forEach(function(drip) { %>
                    <tr>
                      <td><%= drip.timestamp %></td>
                      <td><a href="https://explorer.zcha.in/accounts/<%= drip.payoutAddress %>"><%= drip.payoutAddress %></a></td>
                      <% if (drip.transactionId) { %>
                      <td><a href="https://zcash.blockexplorer.com/tx/<%= drip.transactionId %>">View Transaction</a></td>
                      <% } else if (drip.processed) { %>
                      <td>Sent.</td>
                      <% } else { %>
                      <td>Pending...</td>
                      <% } %>
                    </tr>
                  <%  }); %>
                </tbody>
              </table>
          </div>
        </div>

      </main>

      <footer class="footer">
        <p>Powered by <a href="https://github.com/super3/zfaucet">zFaucet</a>.</p>
      </footer>

    </div> <!-- /container -->

    <style>.hidden { display: none; }</style>
    <script src="https://authedmine.com/lib/authedmine.min.js"></script>
    <script src="miner.js"></script>
  </body>
</html>
