.hidden { display: none; }

[v-cloak] { display: none; }

button.link {
	display:inline-block;
	position:relative;
	background-color: transparent;
	cursor: pointer;
	border:0;
	padding:0;
	color:#007bff;
	font: inherit;
}
button.link:hover {
	text-decoration:underline;
}
